
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
     margin:auto;
    background-color:rgb(20, 20, 20);
    padding:12px 22px;
    color:rgb(255, 254, 254);
  
}

@media screen and (max-width:900px){
    footer p{
    font-size: 12px;
    }
    footer{
            padding:12px 10px;
    }
}