
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
     margin:auto;
    background-color:rgb(17, 17, 17);
    padding:4px 42px;
    

}
 a{
    color:#fffefef3;
    text-decoration: none;
    display: flex;
    gap:12px;
    align-items: center;
    font-weight:600;
    font-size: 17px;
    transition:  0.3s;
}

nav{
    
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
    padding-right: 12px;
}

.active{
    color:rgb(20, 3, 147) !important;
}
header img{
   width: 40px;
   height: 40px;
   object-fit: cover;
   border-radius: 50%;
   animation: logo 6s  infinite;
}

@keyframes logo {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
 
   100% {
    transform: rotateY(360deg);
  }

}

@media screen and (max-width:900px){
    h1{
        font-size: 22px;
    }
    a{
        font-size: 12px;
        
    }
    header{
        padding: 4px 12px;
    }
}