@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    background: none;
    border: none;
    text-decoration: none;
}

button,
input {
    cursor: pointer;
}

body {
    background-color: #171616;
    width: 100%;
    min-height: 100vh;
    font-family: "Playwrite NZ Basic", cursive;
    background-image: url("https://i.pinimg.com/1200x/fe/d8/e0/fed8e0f1c033a767b83ede8a30c008cb.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}