.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    width: 80vw;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 80px;
}
h3{
    color:white;
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
}
@media screen and (max-width:1100px){
     .container{
         grid-template-columns:  1fr 1fr;
     }

}

@media screen and (max-width:500px){
     .container{
         grid-template-columns:1fr;
     }

}